# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Visual Studio IDE temporary files
*.suo
*.wwdb
*.user

# Output directories
bin
obj

# Third-party library directory
ThirdParty

packages